.main-header {
    .header-ul {
        display: flex;
        padding: 1.5% 2% 1.5% 0;
        justify-content: flex-end;
        border-bottom: 1px solid #333;

        .header-li {
            padding: 5px;
        }
    }
}